In [1]:
# list and function

In [2]:
name=["jay","rohit","hiten","hardik"]

In [3]:
name

['jay', 'rohit', 'hiten', 'hardik']

In [4]:
name.append("kushal")

In [5]:
name

['jay', 'rohit', 'hiten', 'hardik', 'kushal']

In [6]:
name.index("kushal")

4

In [7]:
 name.reverse()

In [8]:
name

['kushal', 'hardik', 'hiten', 'rohit', 'jay']

In [9]:
classd=["kitan","jyoti"]

In [10]:
classd

['kitan', 'jyoti']

In [11]:
School=name+classd

In [12]:
School

['kushal', 'hardik', 'hiten', 'rohit', 'jay', 'kitan', 'jyoti']

In [13]:
School.insert(3,"krishna")

In [14]:
School

['kushal', 'hardik', 'hiten', 'krishna', 'rohit', 'jay', 'kitan', 'jyoti']

In [15]:
School.remove("jay")

In [16]:
School

['kushal', 'hardik', 'hiten', 'krishna', 'rohit', 'kitan', 'jyoti']

In [17]:
# Dictionary & function

In [18]:
dict={'name':'Jaykishan','age':'20','surname':'solanki'}

In [19]:
dict

{'name': 'Jaykishan', 'age': '20', 'surname': 'solanki'}

In [20]:
dict.values()

dict_values(['Jaykishan', '20', 'solanki'])

In [21]:
dict.keys()

dict_keys(['name', 'age', 'surname'])

In [22]:
dict.get("name")

'Jaykishan'

In [23]:
dict.items()

dict_items([('name', 'Jaykishan'), ('age', '20'), ('surname', 'solanki')])

In [24]:
dict.pop('surname')

'solanki'

In [25]:
dict.copy()

{'name': 'Jaykishan', 'age': '20'}

In [26]:
dictnew=dict.copy()

In [27]:
dictnew

{'name': 'Jaykishan', 'age': '20'}

In [28]:
dict["job"]="student"

In [29]:
dict

{'name': 'Jaykishan', 'age': '20', 'job': 'student'}

In [30]:
# set and its functions

In [31]:
st={"Jaykishan",23,96,45,7,4,9,12}

In [32]:
 st

{12, 23, 4, 45, 7, 9, 96, 'Jaykishan'}

In [33]:
st.add("kiran")

In [34]:
st

{12, 23, 4, 45, 7, 9, 96, 'Jaykishan', 'kiran'}

In [35]:
st2={"jay",7,5,8}

In [36]:
st2

{5, 7, 8, 'jay'}

In [37]:
st2.issubset(st)

False

In [38]:
st2.intersection(st)

{7}

In [39]:
st.difference(st)

set()

In [40]:
st.isdisjoint(st2)

False

In [41]:
st

{12, 23, 4, 45, 7, 9, 96, 'Jaykishan', 'kiran'}

In [42]:
st.discard

In [43]:
st.clear

In [44]:
# Tuple and its function

In [45]:
tup= {"jaykishan","solanki",91,"@"}

In [46]:
tup

{91, '@', 'jaykishan', 'solanki'}

In [50]:
# strings and function

In [54]:
A= 2
B= 5
D= 12.4

In [53]:
C=A+B

In [55]:
C

7

In [58]:
E= D/C

In [59]:
E

1.7714285714285716

In [62]:
type(A)

int

In [63]:
type(D)

float

In [64]:
name= "Jaykishan"

In [65]:
name

'Jaykishan'

In [66]:
name2= "Jay"

In [73]:
name3= name+("kiran")

In [70]:
name3

'Jaykishankiran'

In [74]:
type(name)

str